---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import classes from '../global.css';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
	---


<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bytesized&display=swap" rel="stylesheet">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Header>
	</Header>
	
	<body>
		<main class="anonymous-pro-regular">
			<section>
				<p>
				this is the home page.

				try clicking on one of the links<br>

						 {
							posts.map((post) => (
								
									<a href={`/blog/${post.id}/`} style=text-decoration:none;>
										{post.data.title}
									</a>
									<p style="color: ;">|</p>
							))
						}
						


				
				
				</p>
			</section>
		</main>
	</body>
	
</html>
